.navbar-container {
    width: 80%;
    position: fixed; 
    top: 0; 
    z-index: 1000;
    height: 60px; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent; 
    flex-wrap: wrap;
    width: 100%; 
    overflow-x: hidden;
    padding: 10px 20px; 
    font-size: 0.8em; 
    font-weight: bold;
}

.navbar-content {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.logo-container {
    width: 100px;
    display: flex;
    overflow: hidden;
    height: 100%; 
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 45%;
}

.logo-container video {
    width: 85%;
}

.nav-links {
    list-style-type: none; 
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.nav-links ul {
    width: 100%;
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links li a {
    text-decoration: none; 
    color: white;
    transition: color 0.3s;
}

.nav-links a {
    width: auto;
}

.nav-links li a:hover {
    color: rgb(120, 33, 177);
}

.nav-links li.active a {
    font-weight: bolder; 
    color: rgb(255, 187, 0);
}


@media only screen and (max-width: 1024px) {
    .nav-links {
        gap: 10px; 
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
        font-size: 0.8em;
    }

    .nav-links {
        gap: 10px;
        justify-content: center;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 425px) {
    .nav-links {
        gap: 5px; 
        font-size: 0.8em; 
    }

    .navbar {
        justify-content: center;
    }
}
