.update {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* h1 {
    margin-bottom: 20px;
  } */
  
  form {
    width: 100%;
    max-width: 400px;
 
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #007bff 50%);
    background-position: calc(100% - 20px) calc(1em - 1px);
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    font-style: italic;
    color: #888;
  }
  

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100vw;
  }